.containersize {
    width: 100vw;
    height: 100vh;
}
.signinform {
    width: 25%;
}
.submitbtn {
    width: 100%;
}
.smalllinks {
    cursor: pointer;
    color: blueviolet !important;
}
.center-align {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .signinform {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .signinform {
        width: 90%;
    }
}