<!-- Image and text -->
<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand brandcolor" href="javascript:void(0)">
      <img src="./assets/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Task Updator
    </a>
    <button type="button" class="btn btn-primary btn-sm">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </nav>
  <div class="d-flex justify-content-end align-items-center mt-2">
    <button type="button" class="btn btn-primary mr-2">Add today's task</button>
  </div>
  <div class="card text-left m-2 p-2">
    <div class="d-flex align-items-center">
        <small class="form-text text-muted boldusername">Pampapathi</small>&nbsp;&nbsp;
        <small class="form-text text-muted smallfont">12 Dec, 2018 12:00 PM</small>
    </div>
    <div class="card-body cardpadding">
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </div>
  </div>